<%if object.errors.any?%>
    <div class="alert alert-danger">
        <h4><%=pluralize(object.errors.messages.count, 'Error')%> Occurred:</h4>
        <ul class="list-unstyled ml-5">
            <%object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <%end%>
        </ul>
    </div>
<%end%>