<div class="container mt-5">    
    <div class="jumbotron bg-secondary text-white">
        <h1 class="display-4">Welcome to your Photo Safe</h1>
        <p class="lead">A secure place for all your important photos</p>
        <hr class="my-4">
        <p>Sign Up or Sign In to get started!</p>
        <!--These links need updating to erb and correct paths-->
        <a class="btn btn-primary btn-lg mr-3" href="#" role="button">Sign Up</a> or
        <a class="btn btn-primary btn-lg ml-3" href="#" role="button">Sign In</a>
    </div>
</div>

<div class= "container mt-5">
    <div class= "row">
        
        <div class= "col-md-4">
            <div class="col-md-12 bg-info text-white pb-1">
                <h2 class="text-center">Secure</h2>
                <p>No one has entry to your important photos except for you!</p>
            </div>
        </div>
        
        <div class= "col-md-4">
            <div class="col-md-12 bg-info text-white pb-1">
                <h2 class="text-center">Organised</h2>
                <p>Never lose that important photo, we help you to keep it organised in one place!</p>
            </div>
        </div>
        
        <div class= "col-md-4">
            <div class="col-md-12 bg-info text-white pb-1">
                <h2 class="text-center">No Hidden Fees</h2>
                <p>We wont charge you a penny for using our service!</p>
            </div>        
        </div>
    
    </div>
</div>